<div>
  heatmap here
</div>
<!-- <div class="button_row">
  <button class="btn dard_solid_button" (click)="toggleHeatmap()">heatmap</button>
  <button class="btn dard_solid_button" (click)="togglePath()">path</button>
  <button class="btn dard_solid_button" (click)="toggleData()">data</button>
</div> -->

<!-- <div class="container">
  <div class="options">
      <label>Radius </label><input type="range" id="radius" value="10" min="5" max="30" #radius (change)="changeRadius(radius.value)"/><br />
      <label>Blur </label><input type="range" id="blur" value="10" min="5" max="30" #blur (change)="changeBlur(blur.value)"/>
  </div>
  <canvas id="canvas" width="600" height="340"></canvas>
</div> -->
