.container {
  /*background-color: blue;*/
  background: url('../../assets/img/hardware_blue.jpg');
  /*background: url('../../assets/img/grocery-store-outside.jpg');*/
  /*background: url('../../assets/img/assorted.jpg');*/
  background-repeat: no-repeat;
  background-size: cover;
  /*padding-top: 12%;*/
  height: 100vh;
  width: 100%;
}
.login_container {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px;
  text-align: center;
  /*background-color: red;*/
  margin: auto;
  color: white;
  width: 300px;
}
