<!-- <div class="contianer"> -->
<div>
  <table style="width:100%;" class="dashboard_nav">
    <tr>
      <th style="text-align:left;">
        <img class="" src="/assets/img/black-logo.png" alt="logo" height="65px" >
      </th>
      <th style="text-align:right; padding:20px;">
        <table style="width:100%;" class="nav_right">
          <tr>
            <!-- <th id="contact_button" class="small_helvetica">CONTACT</th> -->
            <!-- <th class="small_helvetica" (click)="logout()">LOGOUT</th> -->
            <i class="material-icons" (click)="toggleMenu()">menu</i>
          </tr>
        </table>
      </th>
    </tr>
  </table>
  <div id="settings">
    <!-- these are the settingss<br> -->
    <p>Logout</p>
    <p>Feedback</p>
  </div>
  <heatmap></heatmap>
  <pathmap></pathmap>


  <div *ngIf="dataShow">
    {{data}}
  </div>

  <!-- <div class="path">
    <canvas id="myCanvas" width="578" height="210"></canvas>
  </div> -->
</div>
