<!-- <div class="contianer"> -->
<div>
  <table style="width:100%" class="navbar">
    <tr>
      <th class="nav_first">
        <img class="" src="/assets/img/black-logo.png" alt="logo" height="55px" >
      </th>
      <th class="nav_second">
        <div class="dropdown">
        <button (click)="toggleStores()" class="dropbtn" id="menu-dropdown">{{currentStore}}</button>
          <div id="storesDropdown" class="dropdown-content">
            <a *ngFor="let store of stores; let i = index" (click)="selectStore(i)">
              {{store.name}}
            </a>
          </div>
        </div>
      </th>
      <th class="nav_third">
        <table style="width:100%;" class="nav_right">
          <tr>
            <div class="dropdown">
              <i (click)="toggleSettings()" id="menu-dropdown" class="material-icons dropdown-toggle">menu</i>
              <div id="settingsDropdown" class="dropdown-content">
                <a (click)="logout()">Logout</a>
              </div>
            </div>
          </tr>
        </table>
      </th>
    </tr>
  </table>
  <div class="button_row">
    <div class="dropdown">
    <button (click)="toggleMaps()" class="dropbtn" id="menu-dropdown">Maps</button>
      <div id="mapsDropdown" class="dropdown-content">
        <a (click)="showHeatmap()">Heatmap</a>
        <a (click)="showPathmap()">Pathmap</a>
      </div>
    </div>
    <div class="dropdown">
    <button (click)="toggleCarts()" class="dropbtn" id="menu-dropdown">Carts</button>
      <div id="cartsDropdown" class="dropdown-content">
        <a>Coming soon!</a>
      </div>
    </div>
    <div class="dropdown">
    <button (click)="toggleFilters()" class="dropbtn" id="menu-dropdown">Filter</button>
      <div id="filtersDropdown" class="dropdown-content">
        <a>Coming soon!</a>
      </div>
    </div>
  </div>
  <div>
    {{dataPoints}}
  </div>
  <div class="padding_10">
    <heatmap [data]="data" *ngIf="current == 0"></heatmap>
    <pathmap [data]="data" *ngIf="current == 1"></pathmap>
  </div>
  <div>
    {{data}}
  </div>

  <!-- <div class="path">
    <canvas id="myCanvas" width="578" height="210"></canvas>
  </div> -->
</div>
