<div class="container">
  <section id="slide-1" class="homeSlide">
  	<div class="bcg" data-center="background-position: 50% 0px;" data-top-bottom="background-position: 50% -100px;" data-anchor-target="#slide-1">
  		<div class="hsContent" data-anchor-target="#slide-1 h2">

        <table style="width:100%;" class="">
          <tr>
            <th style="text-align:left;">
              <img class="" src="/assets/img/white-logo.png" alt="logo" height="95px" >
            </th>
            <th style="text-align:right;">
              <table class="nav_right">
                <tr>
                  <th id="contact_button" class="small_helvetica">CONTACT</th>
                  <th class="small_helvetica" routerLink="/login">LOGIN</th>
                </tr>
              </table>
            </th>
          </tr>
        </table>
        <h2 class="title_text">
          UNDERSTAND THE CUSTOMER JOURNEY
        </h2>
  		</div>
  	</div>
  </section>

  <section class="dark section">
    <h3>UNDERSTAND. OPTIMIZE. IMPROVE.</h3>
    <br>
    <div class="normal_helvetica">
      Peek in to the decision making process of your customers with our customer tracking software
      and get real time insight into the operations of your store.
    </div>
  </section>

  <section class="light flex_section flex">
    <div class="col left">
      <h3>REACTIVE</h3>
      <br>
      <div class="normal_helvetica">Quickly respond to a sudden drop or surge in traffic</div>
    </div>
    <div class="col center">
      <h3>PROACTIVE</h3>
      <br>
      <div class="normal_helvetica">Gain instant insight into each store change</div>
    </div>
    <div class="col right">
      <h3>OVERVIEW</h3>
      <br>
      <div class="normal_helvetica">Compare a store in one location to all other locations</div>
    </div>
  </section>

  <section id="slide-4" class="homeSlide homeSlideTall">
		<div class="bcg" data-bottom-top="background-position: 50% 100px" data-top-bottom="background-position: 50% -100px;">
      <div class="dark_transparent">
  			<div class="slide-4_content copy" data-anchor-target="#slide-4 .copy">
  				<h3 >CONTACT US</h3>
          <div class="big_helvetica">nathanradmall@gmail.com</div>
  			</div>
  		</div>
    </div>
	</section>

  <section class="dark">
    <br>
    <div class="normal_helvetica">
      © Ambul, Inc. 2017
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </section>
</div>
