.main {
  overflow:hidden;
  overflow-y: scroll;
  text-align: center;
  position:fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
  overflow-y: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
}
#slide1 {
  height: 100vh;
  color: white;
  text-align: center;
  background: url('../../assets/img/hardware_blue.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#slide4 {
  color: white;
  text-align: center;
  background: url('../../assets/img/assorted.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.dark_transparent {
  background-color: rgba(0, 0, 0, 0.3);
}
.dark {
  background-color: #353535;
  color: #fafaf9;
}
.light {
  color: #353535;
  background-color: #fafaf9;
}
.section {
  text-align: center;
  padding: 100px;
  padding-left: 15%;
  padding-right: 15%;
}
.flex_section {
  text-align: center;
  /*padding: 100px;*/
  padding-top: 100px;
  padding-bottom: 100px;
  /*padding-left: 15%;
  padding-right: 15%;*/
}

.flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.col {
  /*width: 32%;*/
  /*min-width: 225px;*/
  width: 225px;
  padding: 20px;
}
.left {
}
.center {
  border-left: solid #353535 2px;
  border-right: solid #353535 2px;
}
.right {
}
.navbar {
  text-align: left;
  position: static;
  background-color: red;
}
.nav_right {
  width: 165px;
  float: right;
  padding-right: 25px;
}
.top_logo {
  position: relative;
  width: 140px;
  color: white;
  /* padding-right: 20px; */
  top: 20px;
  right: 20px;
}
.title_text {
  padding-top: 12%;
  padding-left: 4%;
  padding-right: 4%;
}
.slide-4_content {
  padding: 100px;
  padding-left: 10%;
  padding-right: 10%;
  color:white;
}

@media screen and (max-width: 802px) {
  .col {
    margin: auto;
  }
  .left {
    padding-bottom: 50px;
    padding-top: 100px;
  }
  .center {
    border: none;
    border-top: solid #353535 2px;
    border-bottom: solid #353535 2px;
    padding-bottom: 50px;
    padding-top: 50px;
  }
  .right {
    padding-bottom: 100px;
    padding-top: 50px;
  }
  .flex {
    display: inline;
    /*margin: auto;*/
    /*justify-content: center;
    flex-wrap: wrap;*/
  }

}
